<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>                
                <binding name="HistoricalTrendProvider123">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.eterra.com/public/services/data/historicaltrendprovider"
                binding="customBinding" bindingConfiguration="HistoricalTrendProvider123"
                contract="HistoryProvider.HistoricalTrendProvider" name="HistoricalTrendProvider123" />
        </client>
    </system.serviceModel>
</configuration>